.App {
  font-family: 'Outfit', sans-serif;
  display: grid;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.qrWrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 6px 24px 0px #00000020;
  background-color: hsl(0, 0%, 100%);
}

.qrcode {
  border-radius: 12px;
}

.info {
  padding: 8px 28px;
}

.title {
  font-size: 21.5px;
  text-align: center;
  color: hsl(218, 44%, 22%)
}

.text {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
}